@{
    ViewBag.title = "Checkout";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

<div class="container">
    <h2>Thank You Customer !!</h2>
    <h5>Your Order Is Complated ! , Will Be Send Order In 1 Day </h5>
</div>